.logo {
    background-color: rgb(86, 122, 86);
    border-bottom: 0px;
}

.nav-underline .nav-link {
    padding: 0;
    border-bottom: 0;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}